<div class="issue-list">
  <% issues.each do |i| %>
    <article class="issue clearfix">
      <div class="avatar">
        <a href="/happypeter">
          <img src=http://en.gravatar.com/userimage/99519790/160f0fbca56510765f78b32b7de6ad94.jpg;d=retro alt="">
        </a>
      </div>
      <div class="body">
        <h5 class="title">
          <!-- 这里看不懂啊 -->
          <%= link_to i.title, issue_path(i) %>
          <!-- <%= link_to i.title, "/issues/#{i.id}" %> -->
        </h5>
        <a class="read-more" href="#">read</a>
        <span class="meta-data">
          <a href="/dycalc">dycalc</a>
          <%= time_ago_in_words(i.created_at) %> ago
        </span>
      </div>
      <div class="issue-comment-count">
        <i class="fa fa-comments icon-muted"></i>
        <%= link_to i[:comments], "#" %>
      </div>
    </article>
  <% end %>
</div>
